<nav class="navbar navbar-expand-custom navbar-mainbg">
    <nav class="navbar">
        <!-- LOGO -->
       <div class="logo">INMOBILIARIA

            <img src="/./assets/descarga.jpg" style="width: 15%;">
        </div>

        <!-- NAVIGATION MENU -->
        <ul class="nav-links">

            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <!-- NAVIGATION MENUS -->
            <div class="menu">

                <li>
                    <a routerLink="/inmueble" href="#">Home</a>
                </li>
                <li>
                    <a href="/">Registro de Inmueble</a>
                </li>

                <li class="services">
                    <a href="/">Listado de Inmueble</a>
                </li>

                <li>
                    <a href="/">Reserva </a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
                </div>
            </ul>
     </nav>
        <div>
            <img src="/./assets/casa.jpg" style="width: 100%;">
    
        </div>